<a href="https://colab.research.google.com/github/vimanshu/ML/blob/main/quickPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# pandas ultraquick tutorial

In [2]:
import numpy as np
import pandas as pd

In [3]:
# making a data frame with 10 cells having 2 colums named
# temp and activity
my_data= np.array([[1,2],[1,3],[1,4],[1,5],[1,6]])
my_col_name=["temp","activity"]
my_df= pd.DataFrame(data=my_data, columns=my_col_name)

# let's print the entire df
print(my_df)

   temp  activity
0     1         2
1     1         3
2     1         4
3     1         5
4     1         6

In [4]:
# adding a new column to the df
# which acn be eassily done
my_df["ECG"]= my_df['activity']+365
print(my_df)

   temp  activity  ECG
0     1         2  367
1     1         3  368
2     1         4  369
3     1         5  370
4     1         6  371

In [5]:
# what if i ask you to specify a subset in a df
# what am i asking?
# so in order to isolate certain rows,cols or specific cells in a df
# this is called specifying a subset of the df

# suppose i need ionly 3 rows of my df
print(my_df.head(3))

   temp  activity  ECG
0     1         2  367
1     1         3  368
2     1         4  369

In [9]:
# here as seen above i'm only getting 3 rows 
# let's say i only need row 2 
print(my_df.iloc[[0]])
print(my_df.iloc[[1]])
print(my_df.iloc[[2]])

   temp  activity  ECG
0     1         2  367
   temp  activity  ECG
1     1         3  368
   temp  activity  ECG
2     1         4  369

In [10]:
# slicing the df
print(my_df[1:4])

   temp  activity  ECG
1     1         3  368
2     1         4  369
3     1         5  370

In [12]:
# suppose i only need temperature
print(my_df["temp"])

0    1
1    1
2    1
3    1
4    1
Name: temp, dtype: int64

Do the following:

Create an 3x4 (3 rows x 4 columns) pandas DataFrame in which the columns are named Eleanor, Chidi, Tahani, and Jason. Populate each of the 12 cells in the DataFrame with a random integer between 0 and 100, inclusive.

Output the following:

the entire DataFrame
the value in the cell of row #1 of the Eleanor column
Create a fifth column named Janet, which is populated with the row-by-row sums of Tahani and Jason.

In [13]:
my_new_data=np.random.randint(low=0, high=101,size=(3,4)) 
my_cols=["Eleanor","chidi","Tahani","Jason"]
my_new_df=pd.DataFrame(data=my_new_data, columns=my_cols)
print(my_new_df)

   Eleanor  chidi  Tahani  Jason
0       95     59      12     12
1       95     22       8     54
2       55     46      67     95

In [14]:
# Duplication of DataFrame
# there are two ways to do it
# 1-Refrencing "assigning the df to the new variable and the change is reflected"
# 2- create an independent copy- pd.DataFrame.copy

In [18]:
# creating a refrence of the df
ref_df=my_new_df
# printing starting value of a dataFrame
print("starting value of df: %d" %my_new_df["Jason"][1])
my_new_df.at[1,"Jason"]= my_new_df["Jason"][1]+5
print("updated starting value of df: %d" %my_new_df["Jason"][1])
print(ref_df["Jason"][1])

starting value of df: 59
updated starting value of df: 64
64

In [19]:
#creating the independent copy of the df
ind_df= my_new_df.copy()

In [20]:
print(ind_df)

   Eleanor  chidi  Tahani  Jason
0       95     59      12     12
1       95     22       8     64
2       55     46      67     95

In [24]:
#let's make some changes here 
print(ind_df.at[0,"Eleanor"])
ind_df.at[0,"Eleanor"]+=10

print(ind_df.at[0,"Eleanor"]) 
print(my_new_df.at[0,"Eleanor"]) # this remains unaffected

115
125
95